@charset "utf-8";


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ヘッダー
---------------------------------------------------------------------------*/
/*背景画像とアプリ画面*/
#app header {
	background: url(../images_app/photonote_header_image.png) no-repeat right 100px bottom/auto 90%, url(../images_app/photonote_header_bg.jpg);
	height: 500px;	/*ブロックの高さ*/
}
/*イントロダクション全体*/
header #intro {
	color: #ffffff;
	width: auto;
	padding: 40px 450px 40px 200px;
}
/*ロゴ画像*/
header #app_logo img {
	width: 100px !important;	/*幅*/
}
/*アプリ名*/
header h1 {
	margin-top: -15px;
	margin-left: -5px;
	font-size: 300%;
}
/*アプリ副題*/
header h2 {
	margin-top: -15px;
	font-size: 150%;
}
/*アプリ説明*/
header #app_detail {
	margin-top: 20px;
}
/*Google Play*/
header #goolge_play img {
	margin: 50px -15px;
	width:230px;
}







/*画面幅1000px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1000px){

/*ヘッダー
---------------------------------------------------------------------------*/
/*イントロダクション全体*/
header #intro {
	padding: 40px 380px 40px 120px;
}
/*Google Play*/
header #goolge_play img {
	margin: 30px -15px;
}

}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー
---------------------------------------------------------------------------*/
/*背景画像とアプリ画面*/
#app header {
	background: url(../images_app/photonote_header_image.png) no-repeat center bottom/auto 40%, url(../images_app/photonote_header_bg.jpg) no-repeat left/auto 800px;
	height: 800px;	/*ブロックの高さ*/
}
/*イントロダクション全体*/
header #intro {
	padding: 40px 110px;
}
/*アプリ名*/
header h1 {
	margin-top: -10px;
	margin-left: 0px;
	font-size: 200%;
}
/*アプリ副題*/
header h2 {
	margin-top: -10px;
	font-size: 140%;
}
/*アプリ説明*/
header #app_detail {
	margin-top: 10px;
}
/*Google Play*/
header #goolge_play img {
	display: block;
	margin: 20px auto;
}

}